extends ../layouts/clientDashboard

block content
  .overlay: .modal.auth
    h1.logo Welcome to Opportunity
      span.iq IQ
    p In order to view your dashboard, please set a password.
    form(action="/client/login", method="post")
      .input-row
        input(type='password', placeholder='Password', name='password')
        input(type='password', placeholder='Confirm Password')
        button(type='submit', class='btn btn-outline submit') Create Account
  .container-fluid
    div(style="margin-top: 30px;")
    .col.col-md-8
      .ui-view-container(ui-view="main")
      div(style="margin-top: 30px;")
    .col.col-md-4
      .ui-view-container(ui-view="sidebarOne")
      div(style="margin-top: 30px;")
      .ui-view-container(ui-view="sidebarTwo")
      div(style="margin-top: 30px;")
      .ui-view-container(ui-view="sidebarThree")
      div(style="margin-top: 30px;")