include ../mixins/flash-messages
doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		title Login
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(rel="stylesheet", href="/styles/font-awesome.min.css")
		link(rel="stylesheet", href="/styles/site.min.css")
	body: #login
		.head: .logo
			a(href='/')
				img(src="images/iq_logo.jpg")
				| Opportunity
				span.gtext IQ
		.login-form
			h1 Login
			+flash-messages(messages)
			form(method="post", novalidate)
				.form-group
					label(for='email') Email Address*
					input(type='email', name='email', id='email').form-control
				.form-group
					label(for='password') Password*
					input(type='password', name='password', id='password').form-control
				
				button(type='submit') Login To Account
				p.forgot
					| Forgot your password? 
					a(href="forgot-page") Click Here
					| .
		div.spacer(style="height: 150px;")
		div#footer-outer.clearfix
			div#footer-widgets
				div.container
					//- Column One
					div.col-md-4
						img(src="http://opportunityiq.com/wp-content/uploads/2014/07/logo-white.png")
						ul.row
							div.col-md-6
								li: a(href="http://opportunityiq.com") Home
								li: a(href="http://opportunityiq.com/pricing-page") Pricing
								li: a(href="http://opiq.opportunityiq.com") Get Started
							div.col-md-6
								li: a(href="http://opportunityiq.com/about") About
								li: a(href="http://opportunityiq.com/contact") Contact
								li: a(href="http://opiq.opportunityiq.com/login") Sign In
					//- Column Two
					div.col-md-4
						h5 Smart Analysis.
						h5 Smart Business.
					//- Column Three
					div.col-md-4
						//- Empty.
					div.col-md-12#copyright
						p (C) 2014 Boldmore Growth Partners, LLC.