extends ../layouts/dashboard

block content
  .container-fluid
    div(style="margin-top: 30px;")
    .col.col-md-8
      .ui-view-container(ui-view="main")
      div(style="margin-top: 30px;")
    .col.col-md-4
      .ui-view-container(ui-view="sidebarOne")
      div(style="margin-top: 30px;")
      .ui-view-container(ui-view="sidebarTwo")
      div(style="margin-top: 30px;")
      .ui-view-container(ui-view="sidebarThree")
      div(style="margin-top: 30px;")