doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		title Checkout
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(rel="stylesheet", href="/styles/font-awesome.min.css")
		link(rel="stylesheet", href="/styles/site.min.css")
		link(rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css")
		style.
			.top{
				text-align:center;
			}				
			
	body: #register.register-success
		.head: .logo
			a(href='/')
				img(src="images/iq_logo.jpg")
				| Opportunity
				span.gtext IQ
		.top
			h1 Your sign up was successful!
			p Thanks for choosing OpportunityIQ. We’re thrilled to partner with you in <br> discovering the success your venture can achieve.

			p A receipt of your purchase has been sent to your email.
			a.main-button( href="/") Begin My Opportunity Analysis

