include ../mixins/flash-messages
doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		title Reset Password
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(rel="stylesheet", href="/styles/font-awesome.min.css")
		link(rel="stylesheet", href="/styles/site.min.css")
	body: #login
		script.
			var relocate =!{JSON.stringify(relocate)} || false;
			if(relocate === 'true')
				setTimeout(function(){
					location.href='/';
					}, 3000)
		.head: .logo
			a(href='/')
				img(src="images/iq_logo.jpg")
				| Opportunity
				span.gtext IQ
		.login-form
			h1 Reset Password
			+flash-messages(messages)
			form(action='reset', method="post", novalidate)
				.form-group
					label(for='password') Password*
					input(type='password', name='password', id='password').form-control
				.form-group
					label(for='confirm') Confirm Password*
					input(type='password', name='confirm', id='confirm').form-control
				button(type='submit') Submit
