doctype html
html
	head: title Terms Of Service

	body


		.container
			p Opportunity IQ Terms of Service and User Agreement

			p Not Legal, Tax, Accounting, or Investment Advice

			p Opportunity IQ provides information designed to educate and inform entrepreneurs, business owners, executives, and investors. No information contained herein or obtained from Opportunity IQ should be considered as legal, financial, investment, accounting or tax advice, nor should it be considered a substitute for such advice.

			p Copyright Policy for Site Content

			p The content on this site is protected by U.S. and international copyright laws and is the property of Boldmore Growth Partners, LLC (BGP). By "content" we mean any information, mode of expression, or other materials and services found on the Opportunity IQ website at www.opportunityiq.com (the “Site”) and its related reports and analyses. This includes any and all information, algorithms, explanations, graphics, and other features found on the Site or produced by the Site.

			p The compilation of all content on the Site is the property of BGP. Any use or redistribution is strictly prohibited unless with the express written permission of BGP. To seek such permission, you may e-mail us through the website on our Contact Us web form.

			p We reserve the right to change these terms or withdraw any permission at any time and for any reason.

			p License and Site Access

			p BGP grants users a limited license to access and make personal use of the reports produced by the Site. This license does not include any resale or commercial use of the Site or any of its contents. This Site or any portion of this Site may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express written consent of BGP. No one may frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or forms) of BGP without express written consent. You may not use any meta tags or any other "hidden text" utilizing BGP’s name or trademarks without the express written consent of BGP. Any unauthorized use terminates the permission or license granted by BGP and may give rise to liability for copyright or trademark infringement and other remedies allowed by law. Registered users are granted a limited, revocable, and nonexclusive right to download and the report generated to analyze their opportunities as long as the report does not include any modifications that are false, misleading, derogatory, or otherwise offensive matter. You may not use any BGP or Opportunity IQ logo or other proprietary graphic or trademark without express written permission.

			p Copyright Policy for Downloaded Reports and Analyses
			p All downloads, reports, and analyses are the property of BGP. BGP grants users that purchase an analysis a limited license to use the download for the personal and business purposes of the purchaser. This license does not allow resale or commercial use of these downloads. These downloads may not be reproduced, duplicated, copied, sold, resold, or otherwise exploited for any commercial purpose without express written consent of BGP.

