@import 'nib'

$success = #79B700
$error   = #d9534f
$pending = #f0ad4e

.align-right
	text-align right

[ng-click]
	cursor pointer

a.btn.btn-success
	background-color $success
	border-radius 2px
	color #FFF !important
	text-transform uppercase
	font-size 12px
	border 0

a.success
	color $success !important	

.iq
	color #B3D338

.table
	.status
		font-size 11px
		letter-spacing 0.1em
		text-transform uppercase
		vertical-align middle
		&.paid
			color $success
		&.cancelled
			color $error
		&.pending
			color $pending

.overlay
	background-color rgba(black, 0.85)
	bottom 0
	color #FFF
	display block
	left -100%
	opacity 0
	position fixed
	right 0
	top 0
	transition opacity 300ms ease
	visibility hidden
	z-index 100
	.modal
		color #666
		display none
		height auto
		left 0
		margin 0 auto
		position fixed
		right 0
		top 40%
		width 460px
		.modal-pane
			background-color #FFF
			height auto
			padding 30px
			width 100%
			

.modal-open
	.overlay
		opacity 1
		visibility visible
		left 0
		.modal.auth
			display table
			height auto
			margin auto
			top 0
			bottom 0
			left 0
			right 0
			color #FFF
			text-align center
			h1
				font-size 26px
				font-weight 400
				margin 0 0 10px
			p
				font-size 12px
				font-weight 300
				letter-spacing 0.05em
				text-transform uppercase
			.input-row
				margin 0 auto
				width 400px
				input
					background none
					border 2px solid
					color #FFF
					float left
					line-height 32px
					padding 0 15px
					outline 0
					width 49%
					&:first-of-type
						margin-right 2%
					&:focus
						background-color rgba(#FFF, 0.15)
			button
				background-color #EEE
				border-radius 0
				letter-spacing 0.05em
				line-height 36px
				margin-top 2%
				padding 0 15px
				text-transform uppercase
				width 400px
				&.submit
					background-color darken(#B3D338, 15%)
				&:hover
					color #FFF
.table.edit
	td
		input
			border 0
			outline 0
			transition background-color 300ms ease
			width 100%
			&:hover, &:active, &:focus
				background-color rgba($pending, 0.15)
	button
		background none
		border 0
		margin 0
		padding 0
		text-transform uppercase