form(ng-submit="createClient()")
  //- |{{currentUser}}
  table(class='table table-bordered edit')
    thead: th(colspan='100', class='no-pad inner-table'): table: thead
      th(ng-click='changeState("home")', class='back')
        i.fa.fa-angle-left
      th(colspan="1")
        strong New Client
        .pull-right
          //- span.label.label-success(ng-show="saving", ng-click="createClient()") Saving Changes
          //- span.label.label-success(ng-show="saved", ng-click="createClient()") Saved
          //- span.label.label-success(ng-show="!saving && !saved", ng-click="createClient()") Save Changes
          span.label.label-default(ng-if="!client.name.first.length || !client.name.last.length || !client.email.length") Create Client
          button(type='submit'): span.label.label-success(ng-if="client.name.first.length > 0 && client.name.last.length > 0 && client.email.length > 0") Create Client 
    tr
      th First Name*
      th Last Name*
      th Email Address*
    tr
      td: input(type='text', ng-model='client.name.first')
      td: input(type='text', ng-model='client.name.last')
      td: input(type='text', ng-model='client.email')
    //- tr
    //-   td: input(type='text', ng-model='client.licensePartner', value='')
    //-   td: {{currentUser}}

div(style="margin-top: 30px;")