form(name='keyDistributionForm', ng-submit='updateKeys()', novalidate='true')
  table(class='table table-bordered sidebar-table edit')
    tr
      th(colspan=3)
        strong Manage Clients Licenses
        .pull-right: button(type='submit'): span.label.label-success Save Changes
    tr
      th Licenses
      th # of Licenses to Add
      th Total Licenses
    tr(ng-if='keyDistributionForm.keys.$error.max && !fixErrors', class='danger')
      td(colspan=3, class='danger') You cannot distribute more keys than you currently have available.
    tr(ng-if='fixErrors')
      td(colspan=3, class='danger') Please enter a valid number of keys before continuing.
    tr
      td: {{keys.length}}
      td: input(type='number', ng-model='keys.new', max='{{keys.inactive.length}}', name='keys')
      td: {{keys.length -- keys.new}}