thead#assessment: th(colspan='100', class='no-pad inner-table'): table: thead
	th(ng-click='changeState("search")', class='back')
		i.fa.fa-angle-left
	th(class='back'): a(ui-sref="user({id:assessment.user._id})")
		|{{assessment.user.name.first}}
	th(colspan="1")
		|{{assessment.title + ' '}}
		i.fa.fa-print(ng-click="submit()")
		.pull-right
			span.label.label-default Created On {{createdOn | date: "HH:mma 'on' dd/MM/yyyy"}}
tr
	td(colspan='100', class='assessment'): .row
		div.sidebar: table.table.table-bordered(role="tablist", aria-multiselectable="true", id='accordion')
			tr: td(colspan='1', class='search')
				input(type='text', placeholder='Search Sections by Title...', ng-model='search')
				i.fa.fa-search
				span(ng-show="search", class="label label-default results") {{industry.length + financial.length + operational.length + offering.length + customer.length }} Results
			tr: th.active(data-toggle="collapse", data-target="#industry", data-parent="#accordion") Industry / Market
				.pull-right(ng-show="search"): small: span.badge {{industry.length}}
			tr: td.accordion-group
				ul(class="collapse in", id="industry").pages
					li(ng-repeat="page in industry = ( assessment.pages | filter:{name: search, category: 'industry / market'} ) | orderBy:'order'", ui-sref-active="active", ui-sref="assessment.child({name:page.name,slug:(page.name | slug),pageName:page.name,userId:assessment.user._id,pageId:page._id})", ng-class="page.status", id="{{page.name | slug}}") {{page.name}}
			tr: th.active.collapsed(data-toggle="collapse", data-target="#financial", data-parent="#accordion") Financial
				.pull-right(ng-show="search"): small: span.badge {{financial.length}}
			tr: td.accordion-group
				ul(class="collapse", id="financial").pages
					li(ng-repeat="page in financial = ( assessment.pages | filter:{name: search, category: 'financial'} ) | orderBy:'order'", ui-sref-active="active", ui-sref="assessment.child({name:page.name,slug:(page.name | slug),pageName:page.name,userId:assessment.user._id,pageId:page._id})", ng-class="page.status") {{page.name}}
			tr: th.active.collapsed(data-toggle="collapse", data-target="#operational", data-parent="#accordion") Operational
				.pull-right(ng-show="search"): small: span.badge {{operational.length}}
			tr: td
				ul(class="collapse", id="operational").pages
					li(ng-repeat="page in operational = ( assessment.pages | filter:{name: search, category: 'operational'} ) | orderBy:'order'", ui-sref-active="active", ui-sref="assessment.child({name:page.name,slug:(page.name | slug),pageName:page.name,userId:assessment.user._id,pageId:page._id})", ng-class="page.status") {{page.name}}
			tr: th.active.collapsed(data-toggle="collapse", data-target="#offering", data-parent="#accordion") Offering
				.pull-right(ng-show="search"): small: span.badge {{offering.length}}
			tr: td
				ul(class="collapse", id="offering").pages
					li(ng-repeat="page in offering = ( assessment.pages | filter:{name: search, category: 'offering'} ) | orderBy:'order'", ui-sref-active="active", ui-sref="assessment.child({name:page.name,slug:(page.name | slug),pageName:page.name,userId:assessment.user._id,pageId:page._id})", ng-class="page.status") {{page.name}}
			tr: th.active.collapsed(data-toggle="collapse", data-target="#customer", data-parent="#accordion") Customer
				.pull-right(ng-show="search"): small: span.badge {{customer.length}}
			tr: td
				ul(class="collapse", id="customer").pages
					li(ng-repeat="page in customer = ( assessment.pages | filter:{name: search, category: 'customer'} ) | orderBy:'order'", ui-sref-active="active", ui-sref="assessment.child({name:page.name,slug:(page.name | slug),pageName:page.name,userId:assessment.user._id,pageId:page._id})", ng-class="page.status") {{page.name}}
			tr: td
				form(action="/print", method="post", target="_blank", id="print")
					input(type='hidden', name='origin', value='dashboard', class='form-control')
					input(type='hidden', name='an-id', value='{{assessment._id}}', class='form-control')
					input(type='hidden', name='an-user', value='{{assessment.user._id}}', class='form-control')
					button(type='submit')
						i.fa.fa-print
						span.text Print Final Report
		div.content(class='ui-view anim-in-out anim-fade')


