h2 {{page.category + ': ' + page.name}}
hr
.row.move-right
	.col-md-7
		h3 Key Principle
		p(ng-bind-html="page['Key Principle']")
		h3 Definition
		p(ng-bind-html="page['Definition']")
		h3(ng-show="answerText") Answer
		p(ng-show="answerText") {{answerText}}
		hr.visible-sm
	.col-md-5.score-bars
		h3 Assessment Score
		.progress: .progress-bar(style="width: {{assessment.score}}%") {{assessment.score}}%
		br
		h3(ng-show="answer.score") Answer Score
		.row.move-right(ng-show="answer.score")
			.col-xs-4: small POOR
			.col-xs-4.right: small EXCELLENT
			.col-xs-4.right: small PERCENTILE
		hr
		.row.move-right(ng-show="answer.score")
			//- .col-xs-12
			//- 	small {{page.category}} Score
			//- .col-xs-8
			//- 	.progress: .progress-bar(style="width: 85%")
			//- .col-xs-4.right.percentile
			//- 	.progress: .progress-bar(style="width: 100%") 85%
			.col-xs-12
				small {{page.name}} Score
			.col-xs-8
				.progress: .progress-bar(style="width: {{answer.score}}%")
			.col-xs-4.right.percentile
				.progress: .progress-bar(style="width: 100%") {{answer.score}}%

hr
.row.move-right
	.col-md-6
		h3 Notes
		p {{answer.notes}}
	.col-md-6
		h3 Scratchpad
		p {{answer.work}}