tr
	th(colspan='100', class="inner-table")
		i.fa.fa-users &nbsp;
		| Search Users
tr
	//- th
		i.fa.fa-filter &nbsp;
		| Filters
	td(colspan='100', class='search')
		input(type='text', placeholder='Search {{users.length}} Users by Email...', ng-model='search')
		i.fa.fa-search
		span(ng-show="search", class="label label-default results") {{filteredUsers.length}} Results
tr#search
	th(ng-click="predicate = 'name.first'; reverse=!reverse; changeClass()", class='filter')= 'First Name '
		i.fa.fa-sort
	th(ng-click="predicate = 'name.last'; reverse=!reverse; changeClass()", class='filter')= 'Last Name '
		i.fa.fa-sort
	th(ng-click="predicate = 'email'; reverse=!reverse; changeClass()", class='filter')= 'User Email '
		i.fa.fa-sort
	th(ng-click="predicate = 'createdAt'; reverse=!reverse; changeClass()", class='filter')= 'Member Since '
		i.fa.fa-sort
tr(dir-paginate="user in filteredUsers = ( users | filter:{email:search} ) | orderBy:predicate:reverse | itemsPerPage: 15")
	td: a(ui-sref="user({id:user._id})") {{user.name.first}}
	td {{user.name.last}}
	td: a(href='mailto:{{user.email}}') {{user.email}}
	td {{user.createdAt | date: "HH:mma 'on' yyyy/dd/mm"}}
//- tr(ng-if='filteredUsers.length == 0')
	td(colspan='100') No results.
tr: td(colspan="100", class="center"): div(dir-pagination-controls, template-url="/bower_components/angular-utils-pagination/dirPagination.tpl.html")