table(class='table table-bordered')
  tr
    th(colspan=2)
      strong Staff Members ({{staff.length}})
      .pull-right: small: a(ng-click='changeState("createStaff")', data-target='staff') Add Staff Member 
        i.fa.fa-plus-circle
  tr
    th Name
    th Role
  tr(ng-repeat="staffMember in staff")
    td: a(ui-sref="staff({id:staffMember._id})")
      | {{staffMember.name.first}} {{staffMember.name.last}}
    td {{staffMember.role}}
  tr(ng-if="staff.length == 0")
    td(colspan=2) No Staff Members Found