extends layouts/base

block content
	.text-center
		p Hi #{user.name.first},
		p You have a new license key available for an assessment on OpportunityIQ.
		a(href="http://opiq.opportunityiq.com" + link) Login