.head .text{
	font-size:30px;
	color:white;
	padding:10px 34px;
}
.head > div {
	width: 49%;
	display: inline-block;
}
.head .logo{
	text-align:right;
}
.question {
    margin-bottom: 10px;
}
.content-holder{
	padding: 20px;
	page-break-after:always;
}
div#login {
	width: 1200px;
	margin: auto;
}
div.analysis {
	font-size: 20px;
	color: #818080;
	padding:10px 34px;
}
.first-page, .last-page img{
	width: 100%;
	display: none;
	color:white;
}
.first-page img {
    width: 100%;
}
.analysis-header {
    color: #999;
    text-align: center;
    font-size: 50px;
}

.first-page {
    position: relative;
}
.date {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    top: 341px;
    font-size: 17px;
}
.print .inner-content .body .t {
	height: 100% !important;
}
#sidebar{float:none;clear:both;}
#report, .first-page, .last-page{
	page-break-after:always;
}
@media print{
	* { color: black; }
	.print{width: 100%;margin: 0;float: none;}
	*, a { color: black; }
	.first-page, .last-page img{
		display:block;
		color:white;
	}
	.first-page img{width:100%;}
	.print>.head{background-color:#383d40 !important;}
	.t{height:100% !important;}
	a[href]:after { content: " "; }
	.gradient-overlay{display: none;}
	#login > .head{display:none;}
	.print > .head > .text {color:white !important;}
	.print > .head > .logo > a {color:white !important;}
	.print > .head > .logo > a > span { color :#a8ba57 !important;}
	.section .header > div {background-color:#e8e8e8 !important; }
	#sidebar .question{background-color:#e8e8e8 !important;}
	#sidebar .green span{background-color:#a8ba57 !important;color:white !important;}
	#sidebar .green span i{color:white !important;}
	#sidebar .bar-complete { background-color:#a8ba57 !important;}
	.content-content{page-break-after:always !important;}
	#sidebar .answer span{background-color:white !important;border-radius:5px !important;}
	#sidebar .answer i{color :#a8ba57 !important; }
	.num {background-color:#545454 !important;color:white !important;}
	.num span{color:white !important;padding-right: 5px;}
	#report .charts table tr.overall-wrap .num, #report .charts table tr.overall-wrap .bar-complete {
		text-align: center !important;
		background: #545454 !important;
		color: transparent !important;
	}
	#report .charts table tr.category-wrap .num, #report .charts table tr.category-wrap .bar-complete {
		text-align: center !important;
		background: #778632 !important;
		color: transparent !important;
	}
	.first-page .date{color:white !important;}
	.first-page .analysis-header{color:#6e6e6e !important;}
	#report .charts table tr.page-wrap .num, #report .charts table tr.page-wrap .bar-complete {
		text-align: center !important;
		background: #a8ba57 !important;
		color: transparent !important;
	}
	#report .charts table tr.overall-wrap .circle {
		width: 15px !important;
		height: 15px !important;
		background: #4D4B4B !important;
		border-radius: 10px !important;
	}
	#report .charts table tr.page-wrap .circle, #report .charts table tr.category-wrap .circle {
		width: 10px !important;
		height: 10px !important;
		background: #999 !important;
		border-radius: 10px !important;
		margin-top: 2px !important;
	}
	#report .charts table tr.page-wrap:not(:last-child) .connected {
		width: 1px !important;
		height: 59px !important;
		position: absolute !important;
		margin-top: 3px !important;
		background: #999 !important;
		margin-left: 4px !important;
	}
	.content-header {
		color: #a8ba57 !important;
		margin-top: 20px !important;
		padding-bottom: 20px !important;
		border-bottom: 1px solid #d4d4d4 !important;
		font-weight: bolder !important;
		margin-bottom: 10px !important;
	}
	.section .header div {
		display: inline-block !important;
		background: #e8e8e8 !important;
		padding: 3px 8px !important;
		width: 5% !important;
		font-weight: 600 !important;
		font-family: museo !important;
	}
	.section p, .section .t {
		color: #4f4f4f !important;
	}
}
